body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: rgba(236, 174, 244, 0.954);
 }
 
 .header_text {
     font-family: 'Nunito';
     font-size: 50px;
     font-weight: bold;
     color: rgba(251, 254, 254, 0.74);
     text-align: center;
     margin-top: 20px;
     margin-bottom: 0px;
 }
 
 .gif_container {
     display: flex;
     justify-content: center;
     align-items: center;
 }